<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img class="card-img-top" style="width: 60px; height: 60px;" src="https://www.transparentpng.com/thumb/santa-hat/image-santa-hat-hd-1.png" alt="Santa Stores">
  <strong style="font-family:cursive;">Santa Stores</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    
    <form class="form-inline my-2 my-lg-0" style="padding-right: 15px;">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div style="padding-right:5px;">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Login</button>
    </div>
    <div>
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sign Up</button>
    </div>
  </div>
</nav>
<!--end of navbar-->

<div class="col d-flex justify-content-center" id="Subscription">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.imgur.com/VKUagz2.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Santa Plus Subscription</h5>
      <p class="card-text" >Become a Santa Plus member and get free shipping for all your orders!</p>
      <a href="#" class="btn btn-primary">Upgrade to Plus</a>
    </div>
  </div>
  </div>
</div>

